.login-button, .search-area {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.menu-list {
  display: flex;
  list-style: none;
}
.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
}